<div class="horizontal-nav container-fluid d-flex justify-content-between">
  <div>
    <button mat-button class="px-4 py-2" style="color: #ECEDEF" (click)="drawer.toggle()" >
      Menu
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-book"
           viewBox="0 0 16 16">
        <path
          d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
      </svg>
    </button>
  </div>
  <div>
    <button mat-button class="px-4 py-2" style="color: #411756" (click)="this.authService.logout()">
      Log Out
    </button>
  </div>
</div>

<mat-drawer-container class="h-100" hasBackdrop="unset">
  <mat-drawer #drawer mode="push" class="vertical-nav col-2">
    <div class="row py-2">
      <button (click)="this.deliveryService.redirect('/dashboard/news')" mat-button class="col-12 my-2">
        News
      </button>
      <button (click)="this.deliveryService.redirect('/dashboard/products')" mat-button class="col-12 my-2">
        Products
      </button>
      <button (click)="this.deliveryService.redirect('/dashboard/inventory')" *ngIf="payload.roles.includes('ROLE_SUPER_ADMIN')" mat-button class="col-12 my-2">
        Inventory
      </button>
      <button (click)="this.deliveryService.redirect('/dashboard/transactions')" *ngIf="payload.roles.includes('ROLE_SUPER_ADMIN')" mat-button class="col-12 my-2">
        Transactions
      </button>
      <button (click)="this.deliveryService.redirect('/dashboard/order')" *ngIf="!payload.roles.includes('ROLE_SUPER_ADMIN')" mat-button class="col-12 my-2">
        Order
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content class="align-items-center">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
