<h1 class="mt-4 mx-4" style="font-family: Verdana, serif; font-weight: bolder; color: grey;">
  The new collection is here! Visit our store for more...
</h1>

<div class="gallery mt-4">

  <figure class="gallery__item gallery__item--1">
    <img src="https://images.unsplash.com/photo-1529074463243-29b2df4dc05b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" class="gallery__img" alt="Image 1">
  </figure>

  <figure class="gallery__item gallery__item--2">
    <img src="https://images.unsplash.com/photo-1619278471894-f178e6883d96?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=991&q=80" class="gallery__img" alt="Image 2">
  </figure>

  <figure class="gallery__item gallery__item--3">
    <img src="https://images.unsplash.com/photo-1511829445300-586fe2524231?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="gallery__img" alt="Image 3">
  </figure>

  <figure class="gallery__item gallery__item--4">
    <img src="https://images.unsplash.com/photo-1517453881932-462e65217f7a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="gallery__img" alt="Image 4">
  </figure>

  <figure class="gallery__item gallery__item--5">
    <img src="https://images.unsplash.com/photo-1600382224527-3ab1474fbb2a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" class="gallery__img" alt="Image 5">
  </figure>

  <figure class="gallery__item gallery__item--6">
    <img src="https://images.unsplash.com/photo-1621868836831-8867093f6e62?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="gallery__img" alt="Image 6">
  </figure>

</div>
