<div>

  <div class="row d-flex justify-content-center">
    <mat-form-field class="col-6" appearance="standard">
      <mat-label>Search for the product you want to order</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Dress" #input>
    </mat-form-field>
    <div class="d-flex justify-content-center align-items-center" style="
    font-size: larger;
    font-weight: bold;
    color: #411756;
">

    </div>
  </div>

  <div class="col-12">
    <div class="mat-elevation-z8">
      <table mat-table matSort [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td class="py-2" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
          <td class="py-2" mat-cell *matCellDef="let element"> {{element.product.name}} </td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Size</th>
          <td class="py-2" mat-cell *matCellDef="let element"> {{element.size.sizeNaming.fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Available Quantity</th>
          <td class="py-2" mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="product_price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Price</th>
          <td class="py-2" mat-cell *matCellDef="let element"> {{element.product.price}} </td>
        </ng-container>

        <ng-container matColumnDef="size_surcharge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Size Surcharge</th>
          <td class="py-2" mat-cell *matCellDef="let element"> {{element.size.surcharge}} </td>
        </ng-container>

        <ng-container matColumnDef="commission">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Commission</th>
          <td class="py-2" mat-cell *matCellDef="let element"> {{element.product.commission}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Order Quantity</th>
          <td class="py-2" mat-cell *matCellDef="let element">

            <mat-slider
              #slider
              class="mx-2"
              color="primary"
              thumbLabel
              [displayWith]="formatLabel"
              tickInterval="100000"
              step="1"
              min="0"
              max="{{element.quantity}}"
              aria-label="units"
              (input)="onInputChange($event)"
            >
            </mat-slider>

            <button [disabled]="toDisableOrderButton" (click)="makeOrder(element, slider.value)" class="mx-2"
                    mat-raised-button>Order
            </button>

          </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef>
            <mat-spinner color="accent"></mat-spinner>
          </mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': inventoryData.length > 0}"></tr>


        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>


